.border {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  box-sizing: border-box;
}


.container {
  width: 100%;
  height: 40%;
  text-align: center;
  background-color: brown;
}

.box {
  float: left;
  width: 260px;
  /*border: 2px solid gray;*/
  margin: 0 15px 15px 0;
  padding: 5px;
  text-align: center;
  
}

.clear {
  clear: both;
}

.foot {
  width: 100%;
  height: 20%;
  text-align: right;
  background-color: clear;
  margin-top: 340px;
}
